<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
	<run>
		
		<include name="Testing"></include>
			</run>
	
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Invocations.Dependson"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 